.btn-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #ab572d;
    transition: border 0.3s ease;
}

.btn-group:hover {
    border: 1px solid #ab572d;
}

.increment-btn,
.decrement-btn {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4097fe;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f3f9ff;
}

p {
    width: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #f5f8fb;
    border-right: 1px solid #f5f8fb;
}